body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.sandwich,
.sandwich-layers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .bread {
    background-color: bisque;
    border: 1px solid tan;
    width: 85%;
    max-width: 415px;
    margin: auto;
    min-height: 40px;
} */

.bread {

    /* Adjust as needed */
}




.bread-top {
    background-image: url("/assets/topBunXL2.jpg");
    background-size: contain;
    /* Ensures full image is visible */
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -82px;
    width: 100%;
    max-width: 1522px;
    height: 444px;
}

.bread-bottom {
    background-image: url("/assets/bottomBunXL.jpg");
    background-size: contain;
    /* Ensures full image is visible */
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: -173px; */
    width: 100%;
    max-width: 1522px;
    height: 115px;
}

.size {
    width: 80%;
    max-width: 400px;
    margin: auto;
    min-height: 30px;
}

.ingredient {
    min-height: 50px;
    width: 910px;
    transition: transform 0.2s ease-in-out;
}

.tomato {
    background-color: red;

}

.lettuce {
    background-color: green;

}

.tofu {
    /* TODO WOKR ON PROPER CSS STYLING  */
    background-image: url("/assets/tofu.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 170px;
}

.turkey {
    background-image: url("/assets/turke2y.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;

}




.ingredient-btn {
    font-size: 18px;
    padding: 10px 20px;
    transition: transform 0.2s ease-in-out;
}

.ingredient-btn:hover {
    transform: scale(1.1);
}