body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.sandwich,
.sandwich-layers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .bread {
    background-color: bisque;
    border: 1px solid tan;
    width: 85%;
    max-width: 415px;
    margin: auto;
    min-height: 40px;
} */

.bread {

    /* Adjust as needed */
}




.bread-top {
    background-image: url("/assets/topBunXL1.jpg");
    background-size: contain;
    /* Ensures full image is visible */
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -82px;
    width: 100%;
    max-width: 1522px;
    height: 444px;
}

.bread-bottom {
    background-image: url("/assets/bottomBunXL.jpg");
    background-size: contain;
    /* Ensures full image is visible */
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -173px;
    width: 100%;
    max-width: 1522px;
    height: 444px;
}

.size {
    width: 80%;
    max-width: 400px;
    margin: auto;
    min-height: 30px;
}

.ingredient {
    width: 200px;
    height: 30px;
    margin: 3px 0;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.tomato {
    background-color: red;
    width: 415px;

}

.lettuce {
    background-color: green;
    width: 415px;

}

.turkey {
    background-color: #deb887;
    width: 415px;

}

.tofu {
    background-color: whitesmoke;
    width: 415px;

}


.ingredient-btn {
    font-size: 18px;
    padding: 10px 20px;
    transition: transform 0.2s ease-in-out;
}

.ingredient-btn:hover {
    transform: scale(1.1);
}